@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default light mode styles */

body {
    background-color: #e6e4dc;
    color: #333;
  }
  
  /* Dark mode styles */
  .dark body {
    background-color: #1a202c;
    color: #e2e8f0;
  }
  